<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="Nancy:HostUrl" value="http://localhost:5000" />
    <add key="Database:ConnectionString" value="Server=localhost;Database=ReyV1;Trusted_Connection=True;" />
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true" />
  </system.diagnostics>
</configuration>
